h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 1.5em;
    color: #484848;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    color: #484848;
    padding-top: 20px; 
}

#main-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    padding-left: 150px;
}

header {
    background: #425f9c;
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
}

body {
    padding: 20px;
    padding-top: 140px;
    padding-left: 100px;
    background-color: #edf0f5;
}

#Contenaire {
    display: flex;
    justify-content: center;
}

.box1 {
    width: 500px;
    background-color: #ffffff;
    height: max-content;
    padding: 20px;
    text-align: center;
    
}


#connect {
    background-color: #4267b2;
    width: 320px;
    height: 40px;
    color: #ffffff;
    font-size: medium;
}

#connect:hover{
    background-color: #5b7bbd;
}

#account-creation {
    background-color: #45b434;
    width: 150px;
    height: 30px;
    color: #ffffff;
    width: 200px;
    height: 40px;
}

#noPassword {
    padding: 20px;
    text-decoration: none;
}

.box2 {
    width: 600px;
    margin-left: 100px;
}

input, button {
    margin: 5px;
}

input {
    height: 40px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: larger;
    padding-left: 10px;
    color: #484848;
}

input:focus{
    border:2px solid lightblue;
}
